.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    position: absolute;
    top:14px;
    left:20px;
    font-weight:bold;
    font-size: 16px;
}

.badge-success {
background-color: #398439;
}
.badge-info {
background-color: #ff9933;
}


.fa {

    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.1em;
}


img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

  -webkit-filter: blur(1px);
}




#detail img{


      /*max-width: 300px;
      height: auto;
      display: block; margin-left: auto; margin-right: auto;*/

}
#product{

  overflow:hidden;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 250px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 250px;
    background-color: #FFFFFF;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px;
}
.logo img{
    max-height: 150px;
    max-width: 150px;

}

/*to remove the black shadow of the carosuel of the two sides  by ahmad rasheed*/
.carousel-control.right, .carousel-control.left {
  background-image:none;
}


/*this is to make all columns in the rows are equal in hieght by ahmad
    by adding the class eaual to the row that contains all the columns

*/

.equal {
  display: flex;
  flex-wrap: wrap;
}

.equal > div[class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------*/



@media (max-width:550px) {
    #carouselContainer {
        display:none !important;

    }

    #myCarousel{
        /*display:none !important;*/

    }
}
